In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# 데이터 불러오기

In [ ]:
### CLUSTER 결과 불러오기
import pandas as pd

decrease_cluster = pd.read_csv('/content/drive/MyDrive/SECOND_PROJECT/CLUSTERING_FEATURES/ㄴㅇㄻㄴㅀㄴㅁㅇㄹ/final/final_decrease_clustering_features (2).csv').iloc[:, 1:]
increase_cluster = pd.read_csv('/content/drive/MyDrive/SECOND_PROJECT/CLUSTERING_FEATURES/ㄴㅇㄻㄴㅀㄴㅁㅇㄹ/final/final_increase_clustering_features (2).csv').iloc[:, 1:]

In [ ]:
### L사 데이터 불러오기
path = '/content/drive/MyDrive/SECOND_PROJECT/'

channel_path = 'CHANNEL.txt'
compet_path = 'COMPET.txt'
custdemo_path = 'CUSTDEMO.txt'
membership_path = 'MEMBERSHIP.txt'
prodcl_path = 'PRODCL.txt'
purprod_path = 'PURPRODTR.txt'

import pandas as pd

df_custdemo = pd.read_csv(path + custdemo_path, encoding = 'cp949')
df_purprodtr = pd.read_csv('/content/drive/MyDrive/SECOND_PROJECT/final_df_purchase.csv').iloc[:, 1:]   # final purchase df로 변경함
df_class = pd.read_csv('/content/drive/MyDrive/SECOND_PROJECT/상품분류_찐막.csv')
df_region = pd.read_csv('/content/drive/MyDrive/SECOND_PROJECT/final_store_list.csv').iloc[:, 1:]

In [ ]:
a = pd.merge(df_purprodtr, df_custdemo, on = '고객번호')
b = pd.merge(a, df_class, on = '소분류코드')
final_df = pd.merge(b, df_region, on = '점포코드')
final_df

,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,년도,월,분기,성별,연령대,거주지역,제휴사,소분류명,중분류명_재,대분류명_재,시군구
0,6519000,79,7903,B790310,2716,B7,20141216,21,14400,2014,12,4,F,50세~54세,55.0,B,생굴,수산물,신선식품,송파구
1,6631088,79,7903,B790310,2716,B7,20151201,19,18648,2015,12,8,F,50세~54세,55.0,B,생굴,수산물,신선식품,송파구
2,6516848,79,7903,B790310,5111,B7,20141209,11,2980,2014,12,4,F,45세~49세,55.0,B,생굴,수산물,신선식품,송파구
3,6513311,79,7903,B790310,5111,B7,20141128,15,3490,2014,11,4,F,45세~49세,55.0,B,생굴,수산물,신선식품,송파구
4,6508504,79,7903,B790310,5111,B7,20141113,16,3280,2014,11,4,F,45세~49세,55.0,B,생굴,수산물,신선식품,송파구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8336524,9763196,13,1303,C130301,12515,C401,20150803,16,56500,2015,8,7,M,35세~39세,13.0,C,수입담배,가공식품_기타,가공식품,도봉구
8336525,9763207,13,1303,C130301,12515,C401,20151031,18,45000,2015,10,8,M,35세~39세,13.0,C,수입담배,가공식품_기타,가공식품,도봉구
8336526,9763168,13,1303,C130301,12515,C401,20150211,16,45000,2015,2,5,M,35세~39세,13.0,C,수입담배,가공식품_기타,가공식품,도봉구
8336527,9763186,13,1303,C130301,12515,C401,20150512,14,45000,2015,5,6,M,35세~39세,13.0,C,수입담배,가공식품_기타,가공식품,도봉구
8336528,9763187,13,1303,C130301,12515,C401,20150523,10,45000,2015,5,6,M,35세~39세,13.0,C,수입담배,가공식품_기타,가공식품,도봉구

# 군집화 데이터 살펴보기
## 1. 비교
INCREASE
- 0 : 주 고객층 = 그 주의 거주 연령층
> - '관악구', '동대문구', '마포구', '영등포구', '서초구'

DECREASE
- 3 : 주 고객층 != 그 주 거주 연령층
> - '강북구', '성동구', '송파구', '강서구', '노원구', '성북구', '서초구', '종로구', '마포구', '은평구', '도봉구', '강동구'

- 마포구, 서초구




## 2. 비교
INCREASE
- 2 : 노년층 많음

DECREASE
- 1 : 영유아 많음

- 겹치는 구 없음

In [ ]:
# increase, decrease 칼럼 추가하기
increase_cluster['I/D'] = 'I'
decrease_cluster['I/D'] = 'D'

increase_df = increase_cluster[['점포코드', 'I/D', 'cluster_labels']]
decrease_df = decrease_cluster[['점포코드', 'I/D', 'cluster_label']]
decrease_df.columns = ['점포코드', 'I/D', 'cluster_labels']

cluster_df = pd.concat([increase_df, decrease_df])

final_df = pd.merge(final_df, cluster_df, on = '점포코드')
final_df

,영수증번호,대분류코드,중분류코드,소분류코드,고객번호,점포코드,구매일자,구매시간,구매금액,년도,...,성별,연령대,거주지역,제휴사,소분류명,중분류명_재,대분류명_재,시군구,I/D,cluster_labels
0,6519000,79,7903,B790310,2716,B7,20141216,21,14400,2014,...,F,50세~54세,55.0,B,생굴,수산물,신선식품,송파구,D,3
1,6631088,79,7903,B790310,2716,B7,20151201,19,18648,2015,...,F,50세~54세,55.0,B,생굴,수산물,신선식품,송파구,D,3
2,6516848,79,7903,B790310,5111,B7,20141209,11,2980,2014,...,F,45세~49세,55.0,B,생굴,수산물,신선식품,송파구,D,3
3,6513311,79,7903,B790310,5111,B7,20141128,15,3490,2014,...,F,45세~49세,55.0,B,생굴,수산물,신선식품,송파구,D,3
4,6508504,79,7903,B790310,5111,B7,20141113,16,3280,2014,...,F,45세~49세,55.0,B,생굴,수산물,신선식품,송파구,D,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8336524,9763196,13,1303,C130301,12515,C401,20150803,16,56500,2015,...,M,35세~39세,13.0,C,수입담배,가공식품_기타,가공식품,도봉구,I,2
8336525,9763207,13,1303,C130301,12515,C401,20151031,18,45000,2015,...,M,35세~39세,13.0,C,수입담배,가공식품_기타,가공식품,도봉구,I,2
8336526,9763168,13,1303,C130301,12515,C401,20150211,16,45000,2015,...,M,35세~39세,13.0,C,수입담배,가공식품_기타,가공식품,도봉구,I,2
8336527,9763186,13,1303,C130301,12515,C401,20150512,14,45000,2015,...,M,35세~39세,13.0,C,수입담배,가공식품_기타,가공식품,도봉구,I,2
8336528,9763187,13,1303,C130301,12515,C401,20150523,10,45000,2015,...,M,35세~39세,13.0,C,수입담배,가공식품_기타,가공식품,도봉구,I,2

In [ ]:
final_df['I_D'] = final_df['I/D'].copy()
final_df.drop(labels = 'I/D', axis = 1, inplace = True)
print(final_df.columns)

Index(['영수증번호', '대분류코드', '중분류코드', '소분류코드', '고객번호', '점포코드', '구매일자', '구매시간',
       '구매금액', '년도', '월', '분기', '성별', '연령대', '거주지역', '제휴사', '소분류명', '중분류명_재',
       '대분류명_재', '시군구', 'cluster_labels', 'I_D'],
      dtype='object')

# 추천함수

In [ ]:
def product_recommendation_system(x):
  if final_df.query(f"점포코드 == '{x}'")['I_D'].unique()[0] == 'I':
    print(f'입력된 점포코드 : {x} \nSTATUS : I \n')

  else:  
    print(f'입력된 점포코드 : {x} \nSTATUS : D \n')

    # decrease 3과 increase 0
    if final_df.query(f"점포코드 == '{x}'")['cluster_labels'].unique()[0] == 3:
      d_sigungu_3 = final_df.query(f"점포코드 == '{x}'").시군구.unique()[0]
      
      # 비교 가능한 구 있는지 확인
      if final_df.query(f"I_D == 'I' & cluster_labels == 0 & 시군구 == '{d_sigungu_3}'").empty == False:   
        in_df = final_df.query(f"I_D == 'I' & cluster_labels == 0 & 시군구 == '{d_sigungu_3}'")
        
        # 비교할 점포 리스트 뽑아보기
        c_store_list = in_df['점포코드'].unique()
        print(f'같은 지역구 내 매출 증가 점포({x}) : ', len(c_store_list))
        print(" ")
        print(c_store_list, '\n')

        # 같은 제휴사로만 추리기
        compare_list = []

        for i in c_store_list:
          if x[0] == i[0]:
            compare_list.append(i)
          else:
            continue
        
        if len(compare_list) == 0:
          print('같은 지역구 내 매출이 증가한 점포 중 동일 제휴사 점포가 없습니다.\n')
        else:
          print('동일 제휴사 점포: ', compare_list)
          print('\n')

          # 추려진 점포 리스트의 중분류명과 대상 점포의 중분류명 순위 비교
          i_midclass = final_df.query(f"점포코드 == {compare_list}").groupby(['중분류명_재'])[['구매금액']].sum().reset_index().sort_values('구매금액', ascending = False)[:10]
          x_midclass = final_df.query(f"점포코드 == '{x}'").groupby(['중분류명_재'])[['구매금액']].sum().reset_index().sort_values('구매금액', ascending = False)[:10]
          
          # 관리 필요한 중분류명 리스트 뽑기
          weak_midclass = []

          for i_class in i_midclass['중분류명_재'].tolist():
            if i_class not in x_midclass['중분류명_재'].tolist():
              weak_midclass.append(i_class)
            else:
              continue

          print('관리 필요한 중분류명 리스트 :', weak_midclass)
          print('\n')

          # 관리 필요한 중분류명에서 추천할 상품명 추출하기
          product_recommend = []

          for midclass in weak_midclass:
            i_products = final_df.query(f"점포코드 == {compare_list} & 중분류명_재 == '{midclass}'").groupby(['중분류명_재', '소분류명'])[['구매금액']].sum().reset_index().sort_values('구매금액', ascending = False)
            x_products = final_df.query(f"점포코드 == '{x}' & 중분류명_재 == '{midclass}'").groupby(['중분류명_재', '소분류명'])[['구매금액']].sum().reset_index().sort_values('구매금액', ascending = False)

            product_li = []
            midclass_dict = {}

            for pdt in i_products['소분류명'].tolist():
              if pdt not in x_products['소분류명'].tolist():
                product_li.append(pdt)
              else:
                continue
            
            if product_li:
              midclass_dict[f'{midclass}'] = product_li[:10]
            else:
              midclass_dict[f'{midclass}'] = '해당 중분류 내 품목은 적절하나 중분류 차원의 관리가 필요합니다.'
            product_recommend.append(midclass_dict)
              
          print('추천 상품 리스트 : ')
          for i in range(len(weak_midclass)):
            print(product_recommend[i])

      # 비교 가능한 구 없을 때
      else:
        print(f"점포 {x}와 비교할 수 있는 점포 데이터가 부족합니다.")

# 만든 함수 확인해보기

In [ ]:
# 추천 시스템 적용할 점포리스트 뽑아보기
aa = final_df.query("I_D == 'D' & cluster_labels == 3").groupby(['점포코드', '시군구'])[['고객번호']].count().reset_index()
aa

    점포코드  시군구    고객번호
0    B12  강북구  107370
1    B14  성동구  297235
2    B15  송파구   15393
3    B41  강서구   69774
4     B7  송파구  798778
5     B8  노원구  509013
6   C104  성북구   15160
7   C142  서초구    4159
8   C163  성동구   39725
9    C18  노원구   31075
10  C191  송파구   51256
11  C195  송파구   35502
12  C236  종로구   22747
13  C308  마포구   11829
14  C330  은평구   21062
15  C406  도봉구    9071
16  C434  강서구    3115
17  C474  강동구    5736
18  C532  도봉구    8282
19   C89  마포구    6154
20    D1  마포구    4639
21   D12  송파구    3333

In [ ]:
bb = final_df.query("I_D == 'I' & cluster_labels == 0").groupby(['점포코드', '시군구'])[['고객번호']].count().reset_index()
bb

   점포코드   시군구   고객번호
0  C193   관악구   3449
1  C343  동대문구   5659
2  C412   마포구    320
3  C482  영등포구   3659
4   C74   서초구  19180

In [ ]:
aa.시군구.unique()

array(['강북구', '성동구', '송파구', '강서구', '노원구', '성북구', '서초구', '종로구', '마포구',
       '은평구', '도봉구', '강동구'], dtype=object)

In [ ]:
bb.시군구.unique()

array(['관악구', '동대문구', '마포구', '영등포구', '서초구'], dtype=object)

In [ ]:
aa.query("시군구 == ['마포구', '서초구']")

    점포코드  시군구   고객번호
7   C142  서초구   4159
13  C308  마포구  11829
19   C89  마포구   6154
20    D1  마포구   4639

In [ ]:
bb.query("시군구 == ['마포구', '서초구']")

   점포코드  시군구   고객번호
2  C412  마포구    320
4   C74  서초구  19180

C142, C308, C89, D1

In [ ]:
product_recommendation_system('C142')

입력된 점포코드 : C142
STATUS : D

같은 지역구 내 매출 증가 점포(C142) :  1

['C74']

동일 제휴사 점포:  ['C74']


관리 필요한 중분류명 리스트 : ['생활용품', '주방가전', '수산물', '미용용품']


추천 상품 리스트 :
{'생활용품': ['샴푸/린스세트', '액상세탁세제', '구강청정제', '바디워시', '액상표백제', '특수용세탁세제', '세탁비누', '부분세탁제', '장갑류', '접착제']}
{'주방가전': ['인덕션/가스레인지']}
{'수산물': ['기타어류', '갈치', '랍스터', '기타포장생선', '기타해초류', '새우', '전복', '톳', '가자미', '파래']}
{'미용용품': ['페이셜클렌저', '헤어에센스', '헤어왁스', '풋케어', '면봉/화장솜', '크림/밤/오일']}

In [ ]:
product_recommendation_system('C308')

입력된 점포코드 : C308
STATUS : D

같은 지역구 내 매출 증가 점포(C308) :  1

['C412']

동일 제휴사 점포:  ['C412']


관리 필요한 중분류명 리스트 : ['생활용품', '조미료', '음료류', '건강식품']


추천 상품 리스트 :
{'생활용품': '해당 중분류 내 품목은 적절하나 중분류 차원의 관리가 필요합니다.'}
{'조미료': '해당 중분류 내 품목은 적절하나 중분류 차원의 관리가 필요합니다.'}
{'음료류': '해당 중분류 내 품목은 적절하나 중분류 차원의 관리가 필요합니다.'}
{'건강식품': ['일반비타민']}

In [ ]:
product_recommendation_system('C89')

입력된 점포코드 : C89
STATUS : D

같은 지역구 내 매출 증가 점포(C89) :  1

['C412']

동일 제휴사 점포:  ['C412']


관리 필요한 중분류명 리스트 : ['생활용품', '조미료', '건강식품']


추천 상품 리스트 :
{'생활용품': '해당 중분류 내 품목은 적절하나 중분류 차원의 관리가 필요합니다.'}
{'조미료': '해당 중분류 내 품목은 적절하나 중분류 차원의 관리가 필요합니다.'}
{'건강식품': ['일반비타민']}

In [ ]:
product_recommendation_system('D1')

입력된 점포코드 : D1
STATUS : D

같은 지역구 내 매출 증가 점포(D1) :  1

['C412']

같은 지역구 내 매출이 증가한 점포 중 동일 제휴사 점포가 없습니다.

# 측정 가능 기대효과

In [ ]:
final_df.query("점포코드 == ['C412', 'C74']").groupby(['중분류명_재'])[['구매금액']].sum().reset_index().sort_values('구매금액', ascending = False)[:10]

       중분류명_재      구매금액
6         농산물  25031250
10      빵류/떡류  19702400
32        축산물  13703011
3         과자류  11150120
11       생활용품   8867650
21  유제품/아이스크림   6056350
28       주방가전   4391200
13        수산물   4013019
5        농산가공   3875368
8        미용용품   3451560

In [ ]:
import numpy as np

np.mean(final_df.query("점포코드 == ['C412', 'C74']")['구매금액'].sum())

126049248.0

In [ ]:
np.sum(final_df.query("점포코드 == 'C142'")['구매금액'])

16716520

In [ ]:
np.sum(final_df.query("점포코드 == 'C142'")['구매금액'])/np.mean(final_df.query("점포코드 == ['C412', 'C74']")['구매금액'].sum())

0.132618958583553

In [ ]:
c142_b = final_df.query("점포코드 == 'C142'").groupby(['중분류명_재'])[['구매금액']].sum().reset_index().sort_values('구매금액', ascending = False)
c142_b

        중분류명_재     구매금액
15   유제품/아이스크림  3392420
5          농산물  3057052
24         축산물  2092140
8        빵류/떡류   932510
20          주류   751930
4         농산가공   687310
16         음료류   618740
10        수산가공   613660
2          과자류   607940
19         조미료   478360
14        위생용품   461320
0      가공식품_기타   401690
26       커피/차류   341320
23        축산가공   327640
11         수산물   306418
1         건강식품   290260
9         생활용품   276800
3         냉동식품   272750
7         미용용품   254830
21        주방용품   199810
22     청소/욕실용품   144260
18        일용잡화   101280
17      인테리어소품    48700
25        캠핑용품    29790
12     액세서리/잡화    11900
13       영유아식품     9200
6   문구/완구/사무용품     6490

'생활용품': ['샴푸/린스세트', '액상세탁세제', '구강청정제', '바디워시', '액상표백제', '특수용세탁세제', '세탁비누', '부분세탁제', '장갑류', '접착제']}

{'주방가전': ['인덕션/가스레인지']}

{'수산물': ['기타어류', '갈치', '랍스터', '기타포장생선', '기타해초류', '새우', '전복', '톳', '가자미', '파래']}

{'미용용품': ['페이셜클렌저', '헤어에센스', '헤어왁스', '풋케어', '면봉/화장솜', '크림/밤/오일']}

In [ ]:
c142 = final_df.query("점포코드 == 'C142'").groupby(['중분류명_재'])[['구매금액']].sum().reset_index().sort_values('구매금액', ascending = False)
c142.query("중분류명_재 == ['생활용품', '주방가전', '수산물', '미용용품']")

   중분류명_재    구매금액
11    수산물  306418
9    생활용품  276800
7    미용용품  254830

In [ ]:
c142['구매금액'] = np.where(c142['중분류명_재'] == '생활용품', round(8867650*0.13), 
                        np.where(c142['중분류명_재'] == '주방가전', round(4391200*0.13),
                                 np.where(c142['중분류명_재'] == '수산물', round(4013019*0.13),
                                          np.where(c142['중분류명_재'] == '미용용품', round(3451560*0.13),c142['구매금액']))))
c142

        중분류명_재     구매금액
15   유제품/아이스크림  3392420
5          농산물  3057052
24         축산물  2092140
8        빵류/떡류   932510
20          주류   751930
4         농산가공   687310
16         음료류   618740
10        수산가공   613660
2          과자류   607940
19         조미료   478360
14        위생용품   461320
0      가공식품_기타   401690
26       커피/차류   341320
23        축산가공   327640
11         수산물   521692
1         건강식품   290260
9         생활용품  1152794
3         냉동식품   272750
7         미용용품   448703
21        주방용품   199810
22     청소/욕실용품   144260
18        일용잡화   101280
17      인테리어소품    48700
25        캠핑용품    29790
12     액세서리/잡화    11900
13       영유아식품     9200
6   문구/완구/사무용품     6490

In [ ]:
c142 = pd.concat([c142, pd.DataFrame({'중분류명_재' : '주방가전', '구매금액' : round(4391200*0.13)}, index = [0])])
c142

        중분류명_재     구매금액
15   유제품/아이스크림  3392420
5          농산물  3057052
24         축산물  2092140
8        빵류/떡류   932510
20          주류   751930
4         농산가공   687310
16         음료류   618740
10        수산가공   613660
2          과자류   607940
19         조미료   478360
14        위생용품   461320
0      가공식품_기타   401690
26       커피/차류   341320
23        축산가공   327640
11         수산물   521692
1         건강식품   290260
9         생활용품  1152794
3         냉동식품   272750
7         미용용품   448703
21        주방용품   199810
22     청소/욕실용품   144260
18        일용잡화   101280
17      인테리어소품    48700
25        캠핑용품    29790
12     액세서리/잡화    11900
13       영유아식품     9200
6   문구/완구/사무용품     6490
0         주방가전   570856

In [ ]:
c142['B_A'] = 'C142_After'

In [ ]:
c142_b['B_A'] = 'C142_Before'
c142_b

        중분류명_재     구매금액          B_A
15   유제품/아이스크림  3392420  C142_Before
5          농산물  3057052  C142_Before
24         축산물  2092140  C142_Before
8        빵류/떡류   932510  C142_Before
20          주류   751930  C142_Before
4         농산가공   687310  C142_Before
16         음료류   618740  C142_Before
10        수산가공   613660  C142_Before
2          과자류   607940  C142_Before
19         조미료   478360  C142_Before
14        위생용품   461320  C142_Before
0      가공식품_기타   401690  C142_Before
26       커피/차류   341320  C142_Before
23        축산가공   327640  C142_Before
11         수산물   306418  C142_Before
1         건강식품   290260  C142_Before
9         생활용품   276800  C142_Before
3         냉동식품   272750  C142_Before
7         미용용품   254830  C142_Before
21        주방용품   199810  C142_Before
22     청소/욕실용품   144260  C142_Before
18        일용잡화   101280  C142_Before
17      인테리어소품    48700  C142_Before
25        캠핑용품    29790  C142_Before
12     액세서리/잡화    11900  C142_Before
13       영유아식품     9200  C142_Before
6   문구/완구/사무용품     6490  C142_Before

In [ ]:
c142_concat = pd.concat([c142, c142_b])
c142_concat

        중분류명_재     구매금액          B_A
15   유제품/아이스크림  3392420   C142_After
5          농산물  3057052   C142_After
24         축산물  2092140   C142_After
8        빵류/떡류   932510   C142_After
20          주류   751930   C142_After
4         농산가공   687310   C142_After
16         음료류   618740   C142_After
10        수산가공   613660   C142_After
2          과자류   607940   C142_After
19         조미료   478360   C142_After
14        위생용품   461320   C142_After
0      가공식품_기타   401690   C142_After
26       커피/차류   341320   C142_After
23        축산가공   327640   C142_After
11         수산물   521692   C142_After
1         건강식품   290260   C142_After
9         생활용품  1152794   C142_After
3         냉동식품   272750   C142_After
7         미용용품   448703   C142_After
21        주방용품   199810   C142_After
22     청소/욕실용품   144260   C142_After
18        일용잡화   101280   C142_After
17      인테리어소품    48700   C142_After
25        캠핑용품    29790   C142_After
12     액세서리/잡화    11900   C142_After
13       영유아식품     9200   C142_After
6   문구/완구/사무용품     6490   C142_After
0         주방가전   570856   C142_After
15   유제품/아이스크림  3392420  C142_Before
5          농산물  3057052  C142_Before
24         축산물  2092140  C142_Before
8        빵류/떡류   932510  C142_Before
20          주류   751930  C142_Before
4         농산가공   687310  C142_Before
16         음료류   618740  C142_Before
10        수산가공   613660  C142_Before
2          과자류   607940  C142_Before
19         조미료   478360  C142_Before
14        위생용품   461320  C142_Before
0      가공식품_기타   401690  C142_Before
26       커피/차류   341320  C142_Before
23        축산가공   327640  C142_Before
11         수산물   306418  C142_Before
1         건강식품   290260  C142_Before
9         생활용품   276800  C142_Before
3         냉동식품   272750  C142_Before
7         미용용품   254830  C142_Before
21        주방용품   199810  C142_Before
22     청소/욕실용품   144260  C142_Before
18        일용잡화   101280  C142_Before
17      인테리어소품    48700  C142_Before
25        캠핑용품    29790  C142_Before
12     액세서리/잡화    11900  C142_Before
13       영유아식품     9200  C142_Before
6   문구/완구/사무용품     6490  C142_Before

## 그래프

In [ ]:
C142 = c142_concat.groupby(['B_A'])[['구매금액']].sum().reset_index().sort_values('구매금액')
C142

           B_A      구매금액
1  C142_Before  16716520
0   C142_After  18572517

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

sns.barplot(x = C532['B_A'], y = C532['구매금액'])

In [ ]:
import plotly.express as px
fig = px.bar(C142, x='B_A', y='구매금액', color = 'B_A')
fig.show()

In [ ]:
(18572517 - 16716520)/16716520

0.1110277139021758